<div class="form-floating">
        <input class="form-control" name="first_name" value="{{this.first_name}}" placeholder="First Name">
        <label>First Name</label>
    </div>

    <div class="form-floating">
        <input class="form-control" name="last_name" value="{{this.last_name}}" placeholder="Last Name">
        <label>Last Name</label>
    </div>

    <div class="form-floating">
        <input type="email" class="form-control" value="{{this.email}}" name="email" placeholder="Email">
        <label>Email</label>
    </div>

    <div class="form-floating">
        <input type="number" class="form-control" name="phone_number" value="{{this.phone_number}}" placeholder="phone number">
        <label>Phone Number</label>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</div>